<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Interaxys - Cabinet de consulting</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/components/effect-coverflow/effect-coverflow.min.css" />
    <link rel="stylesheet" href="{{ asset('css/glitch.css') }}">
    <meta name="description" content="Bienvenue sur le site web d'interaxys">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#presentation"><p>Notre vision</p></a></li>
            <li><a href="#solutions"><p>Notre approche</p></a></li>
            <li><a href="#"><img id="logomenu" src="{{ asset('img/interblanc.png') }}" alt="Logo d'interaxys"></a></li>
            <li><a href="#savoir-faire"><p>Notre offre</p></a></li>
            <li><a href="#contact"><p>Nous contacter</p></a></li>
        </ul>
    </nav>
</header>
<section id="headerbg">
    <div class="sliderdiv">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div id="synergieslide" class="sliderslide">
                        <div class="centerslider">
                            <h1 class="slidertitre" data-glitch="SYNERGIE">SYNERGIE</h1>
                            <p class="sliderundertitle">« Un système d'information interactionnel pour piloter l'activité et synchroniser les décisions » </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="interactionslide" class="sliderslide">
                        <div class="centerslider">
                            <h1 class="slidertitre" data-glitch="INTERACTION">INTERACTION</h1>
                            <p class="sliderundertitle">« Un système d'information interactionnel pour piloter l'activité et synchroniser les décisions » </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="syntheseslide" class="sliderslide">
                        <div class="centerslider">
                            <h1 class="slidertitre" data-glitch="synthèse">SYNTHèSE</h1>
                            <p class="sliderundertitle">« Un système d'information interactionnel pour piloter l'activité et synchroniser les décisions » </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <a class="linkdown" href="#presentation">
        <div class="scrollicon">
            <img id="scrollb" src="{{ asset('img/scroll_blanc.png') }}" alt="scroll_blanc">
            <img id="scrollj" src="{{ asset('img/scroll_jaune.png') }}" alt="scroll_jaune">
        </div>
    </a>
</section>

<section id="presentation">
    <article>
        <div class="premierepresentation">
            <div class="sectionlimit">
                <h2>Notre vision</h2>
                <div class="doubleflex">
                    <div class="textpresentation">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                            accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                            vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                            maximus aliquam sapien ut, viverra finibus lacus. Ut rutrum nisi tortor, non varius quam sodales ac.
                        </p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue accumsan,
                            at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas vel nibh. Integer odio purus,
                            sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit, maximus aliquam sapien ut,
                            viverra finibus lacus. Ut rutrum nisi tortor, non varius quam sodales ac.Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Phasellus feugiat tortor id augue accumsan, at laoreet justo sodales. Etiam tortor augue, gravida
                            egestas accumsan at, egestas vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut
                            libero. Vivamus sapien elit, maximus aliquam sapien ut, viverra finibus lacus. Ut rutrum nisi tortor, non varius
                            quam sodales ac.
                        </p>
                    </div>
                    <img id="imgtourne" src="{{ asset('img/formegeo1.svg') }}" alt="forme geométrique 1">
                </div>
                <p class="pflex">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                    accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                    vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                    maximus aliquam sapien ut, viverra finibus lacus. Ut rutrum nisi tortor, non varius quam sodales ac.
                </p>
            </div>
        </div>

        <div class="bgcitation">
            <strong id="citation1">« Le modèle de la réduction des coûts</strong>
            <strong id="citation2"> nous envoie droit dans le mur ! »</strong>
            <strong id="nommage">José Gramdi</strong>
        </div>


        <div class="presentation-video">
            <iframe width="907" height="510" src="https://www.youtube.com/embed/rZQ8aMvsikc"
                    title="YouTube video player" frameborder="0" allow="accelerometer;
                     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </article>
</section>
<section id="solutions">
    <div class="sectionlimit">
        <h2>Notre approche</h2>
        <div class="flex-solution">
            <div class="flexcolumncat">
                <div id="philo"><p>Philosophique</p></div>
                <div id="strat"><p>Stratégique</p></div>
                <div id="tact"><p>Tactique</p></div>
                <div id="ope"><p>Opérationnel</p></div>
            </div>
            <div class="safecard">
            <div class="cardsol" id="cardphilo">
                <article>
                    <h3>Philosophique</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                        accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                        vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                        maximus aliquam sapien ut, viverra finibus lacus.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                        accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                        vel nibh.</p>
                    <ul>
                        <li><strong>HORIZON : </strong><p> Éternité</p></li>
                        <li><strong>DOMAINE : </strong><p> Vision</p></li>
                        <li><strong>ESPRIT : </strong><p> Engagement</p></li>
                        <li><strong>FINALITÉ : </strong><p> Sens</p></li>
                        <li><strong>OBJET : </strong><p> Environement</p></li>
                    </ul>
                </article>
                <div class="result"><p>responsabilité</p></div>
            </div>

           <div  class="cardsol" id="cardstrat">
                <article>
                    <h3>Stratégique</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                        accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                        vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                        maximus aliquam sapien ut, viverra finibus lacus.</p>
                    <ul>
                        <li><strong>HORIZON : </strong><p>Année</p></li>
                        <li><strong>DOMAINE : </strong><p>Objectifs</p></li>
                        <li><strong>ESPRIT : </strong><p>Alignement</p></li>
                        <li><strong>FINALITÉ : </strong><p>Pérennité</p></li>
                        <li><strong>OBJET : </strong><p>Marché</p></li>
                    </ul>
                </article>
               <div class="result"><p>QUALITÉ</p></div>
            </div>

            <div  class="cardsol" id="cardtact">
                <article>
                    <h3>Tactique</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                        accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                        vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                        maximus aliquam sapien ut, viverra finibus lacus.</p>
                    <ul>
                        <li><strong>HORIZON : </strong><p>Mois</p></li>
                        <li><strong>DOMAINE : </strong><p>Moyens</p></li>
                        <li><strong>ESPRIT : </strong><p>Coordination</p></li>
                        <li><strong>FINALITÉ : </strong><p>Santé</p></li>
                        <li><strong>OBJET : </strong><p>Organisation</p></li>
                    </ul>
                </article>
                <div class="result"><p>Vitesse</p></div>
            </div>

            <div class="cardsol" id="cardope">
                <article>
                    <h3>Opérationnel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                        accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                        vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                        maximus aliquam sapien ut, viverra finibus lacus.</p>
                    <ul>
                        <li><strong>HORIZON : </strong><p>Semaine</p></li>
                        <li><strong>DOMAINE : </strong><p>Activités</p></li>
                        <li><strong>ESPRIT : </strong><p>Synchronisation</p></li>
                        <li><strong>FINALITÉ : </strong><p>Survie</p></li>
                        <li><strong>OBJET : </strong><p>Produit</p></li>
                    </ul>
                </article>
                <div class="result"><p>EFFICIENCE</p></div>
            </div>
            </div>
    </div>
    </div>
</section>

<div class="ban-etoile">
    <canvas id="canvas" height="350" width="350"></canvas>
    <div>
        <strong>Améliorer vos perspectives <br> d'entreprise avec</strong> <br> <br>
        <strong class="titreinteraxys">INTERAXYS</strong>
    </div>
</div>

<section id="savoir-faire">

    <div class="sliderdiag">
        <div class="sectionlimit">
          <h2>notre offre</h2>
            <div class="alignswipecenter">
                <!-- Slider main container -->
                <div class="swiper-container2">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide flexswipe">
                            <div>
                                <img class="logoslide" src="{{ asset('img/orientation.png') }}" alt="picto orientation">
                                <div class="invisible-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide flexswipe">
                            <div>
                                <img class="logoslide" src="{{ asset('img/gestion.png') }}" alt="picto orientation">
                                <div class="invisible-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide flexswipe">
                            <div>
                                <img class="logoslide" src="{{ asset('img/manage.png') }}" alt="picto orientation">
                                <div class="invisible-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide flexswipe">
                            <div>
                                <img class="logoslide" src="{{ asset('img/pilotage.png') }}" alt="picto orientation">
                                <div class="invisible-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-button-prev2 "></div>
                    <div class="swiper-button-next swiper-button-next2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="clients">
    <h2>NOS CLIENTS</h2>
    <div class="flexclient">
        <div class="sectionlimit">
        <!-- Slider main container -->
        <div class="swiper-container3">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="{{ asset('img/logo-seb.jpg') }}" alt="LOGO1"></div>
                <div class="swiper-slide"><img src="{{ asset('img/banquefrance.jpg') }}" alt="LOGO2"></div>
                <div class="swiper-slide"><img src="{{ asset('img/Alcatel.png') }}" alt="LOGO3"></div>
                <div class="swiper-slide"><img src="{{ asset('img/logoacome.jpg') }}" alt="LOGO4"></div>
                <div class="swiper-slide"><img src="{{ asset('img/bel.png') }}" alt="LOGO5"></div>
                <div class="swiper-slide"><img src="{{ asset('img/cma.png') }}" alt="LOGO6"></div>
                <div class="swiper-slide"><img src="{{ asset('img/ert.png') }}" alt="LOGO7"></div>
                <div class="swiper-slide"><img src="{{ asset('img/hutchinson.png') }}" alt="LOGO8"></div>
                <div class="swiper-slide"><img src="{{ asset('img/iconics.png') }}" alt="LOGO9"></div>
                <div class="swiper-slide"><img src="{{ asset('img/petitjean.png') }}" alt="LOGO10"></div>
                <div class="swiper-slide"><img src="{{ asset('img/sedis.png') }}" alt="LOGO11"></div>
                <div class="swiper-slide"><img src="{{ asset('img/sew.png') }}" alt="LOGO12"></div>
                <div class="swiper-slide"><img src="{{ asset('img/diagoris.jpg') }}" alt="LOGO13"></div>
                <div class="swiper-slide"><img src="{{ asset('img/UPMC.png') }}" alt="LOGO14"></div>
            </div>
        </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="sectionlimit">
        <h2>NOUS CONTACTER</h2>
        <div class="formulaire">
            <form action="" method="post">
                <div class="flexline">
                    <div class="firstflexform">
                        <div class="geometrieconteneur">
                            <input type="text" nom="nom" placeholder="NOM">
                            <img class="backgroundform" src="{{ asset('img/contactform.png') }}" alt="">
                        </div>
                        <div class="geometrieconteneur">
                            <input id="email" type="text" name="prenom" placeholder="PRENOM">
                            <img class="backgroundform" src="{{ asset('img/contactform.png') }}" alt="">
                        </div>
                    </div>
                    <div class="secondflexform">
                        <div class="geometrieconteneur">
                            <input type="text" name="prenom" placeholder="EMAIL">
                            <img class="backgroundform" src="{{ asset('img/contactform.png') }}" alt="">
                        </div>
                        <div class="geometrieconteneur">
                            <input type="text" name="tel" placeholder="TEL">
                            <img class="backgroundform" src="{{ asset('img/contactform.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="geometrieconteneur geometrieconteneurobjet">
                    <input type="text" name="objet" placeholder="OBJET">
                    <img class="backgroundform" src="{{ asset('img/contactobj.png') }}" alt="">
                </div>

                <div class="geometrieconteneur geometrieconteneurarea">
                    <textarea style="resize: none" name="" id="" cols="30" rows="10" placeholder="Votre message..."></textarea>
                    <img class="backgroundform2" src="{{ asset('img/contacttext.png') }}" alt="">
                </div>
                <div class="btn-right">
                    <div class="geometrieconteneur">
                        <input type="submit" value="VALIDER">
                        <img class="backgroundform" src="{{ asset('img/contactform.png') }}" alt="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="footer">
    <div class="sectionlimit">
        <div class="fullfooter">
            <div class="leftfooter">
                <div class="mail"><img src="{{ asset('img/email.svg') }}" alt="Mail picto"><p>contact@interaxys.fr</p></div>
                <div class="home"><img src="{{ asset('img/home.svg') }}" alt="Maison picto"><p>8 Bis, Boulevard Victor Hugo <br>
                        10000 Troyes </p></div>
                <div class="tel"><img src="{{ asset('img/call.svg') }}" alt="Tel picto"><p>+ 33 680 230 239</p></div>
            </div>
            <div class="midfooter">
                <img src="{{ asset('img/twitter.svg') }}" alt="logotwitter">
                <img src="{{ asset('img/linkedin.svg') }}" alt="logo linkedin">
            </div>
            <div class="rightfooter">
                <div class="img">
                    <img src="{{ asset('img/interblanc.png') }}" alt="logointeraxys">
                </div>
                <div>
                    <a href="#">Mentions Légales</a>
                    <br>
                    <a href="#">Retour en haut de la page</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function (){
        $('.cardsol').hide();
        $('#cardphilo').show();
        $('#philo').css('box-shadow','6px 6px 0 #94C8EE, -6px -6px 0 #94C8EE');

        //SCROLL TO

        $('nav a, .linkdown').click(function(){
            $('html, body').animate({
                scrollTop: $( $(this).attr('href') ).offset().top - 20
            }, 500);
            return false;
        });

        var positionscroll = $(document).scrollTop();
        var limitnav = 90;

        if( positionscroll > 90){
            $("nav ul").css("height", "60px");
            $("nav").css("background-color", "white");
            $("nav").css("box-shadow", "0px 3px 12px rgba(0,0,0,0.6)");
            $("nav a").css("color","#black").css("text-shadow","none");
            $("#logomenu").attr('src','{{ asset('img/interaxys.png') }}');
            $("#logomenu").css('width','110px');
            $("nav a").mouseover(function() {
                $(this).css("color","#94C8EE")
            }).mouseout(function (){
                $(this).css("color","black")
            });
        }else{
            $("nav ul").css("height", "95px");
            $("nav").css("background-color", "transparent");
            $("nav").css("box-shadow", "none");
            $("nav a").css("color","white");
            $("#logomenu").attr('src','{{ asset('img/interblanc.png') }}');
            $("#logomenu").css('width','180px');
            $("nav a").mouseover(function() {
                $(this).css("color","white")
            }).mouseout(function (){
                $(this).css("color","white")
            });
        }

        var i = 0;
        var rotation = 0;
        var oldpositionscroll = 0;
        var positionscroll = $(document).scrollTop();
        var upscroll = 1;
        setInterval(function (){
            oldpositionscroll = positionscroll;
            positionscroll = $(document).scrollTop();
            if (oldpositionscroll > positionscroll){
                if (upscroll == 1){
                    upscroll = 1;
                }else {
                    upscroll = 1;
                    i = 0 ;
                }
            }else if(oldpositionscroll < positionscroll){
                if (upscroll == 0){
                    upscroll = 0;
                    i += 0.5;
                }else {
                    upscroll = 0;
                    i = 0;
                    i += 0.5;
                }
                rotation = positionscroll + i;
            }
            if (upscroll == 1){
                i+= 0.5;
                rotation = positionscroll - i;
            }else{
                i += 0.5;
                rotation = positionscroll + i;
            }
            console.log(upscroll)
            $('#imgtourne').css('transform','rotate('+ rotation +'deg)');
        }, 20)

        // ANIMATION BOULE

        $(document).scroll(function (){
            var positionscroll = $(document).scrollTop();

            var limitnav = 90;

            if( positionscroll > 90){
                $("nav ul").css("height", "60px");
                $("nav").css("background-color", "white");
                $("nav").css("box-shadow", "0px 3px 12px rgba(0,0,0,0.6)");
                $("nav a").css("color","black").css("text-shadow","none");;
                $("#logomenu").attr('src','{{ asset('img/interaxys.png') }}');
                $("#logomenu").css('width','110px');
                $("nav a").mouseover(function() {
                    $(this).css("color","#94C8EE")
                }).mouseout(function (){
                    $(this).css("color","black")
                });
            }else{
                $("nav ul").css("height", "95px");
                $("nav").css("background-color", "transparent");
                $("nav").css("box-shadow", "none");
                $("nav a").css("color","white").css("text-shadow","0px 3px 4px rgba(0,0,0,0.3)");
                $("#logomenu").attr('src','{{ asset('img/interblanc.png') }}');
                $("#logomenu").css('width','180px');
                $("nav a").mouseover(function() {
                    $(this).css("color","white")
                }).mouseout(function (){
                    $(this).css("color","white")
                });
            }
        })

        $('#philo').on('click', function (){
            $(this).css('box-shadow','6px 6px 0 #94C8EE, -6px -6px 0 #94C8EE');
            $('#tact, #ope, #strat').css('box-shadow','6px 6px 0 #FFD433')
            $('#cardtact').fadeOut('fast');
            $('#cardope').fadeOut('fast');
            $('#cardstrat').fadeOut('fast');
            setTimeout(function (){
                $('#cardphilo').fadeIn('fast');
            },200)
        })

        $('#tact').on('click', function (){
            $(this).css('box-shadow','6px 6px 0 #94C8EE, -6px -6px 0 #94C8EE');
            $('#ope, #philo, #strat').css('box-shadow','6px 6px 0 #FFD433')
            $('#cardphilo').fadeOut('fast');
            $('#cardope').fadeOut('fast');
            $('#cardstrat').fadeOut('fast');
            setTimeout(function (){
                $('#cardtact').fadeIn('fast');
            },200)
        })

        $('#ope').on('click', function (){
            $(this).css('box-shadow','6px 6px 0 #94C8EE, -6px -6px 0 #94C8EE');
            $('#tact, #philo, #strat').css('box-shadow','6px 6px 0 #FFD433');
            $('#cardtact').fadeOut('fast');
            $('#cardphilo').fadeOut('fast');
            $('#cardstrat').fadeOut('fast');
            setTimeout(function (){
                $('#cardope').fadeIn('fast');
            },200)
        })

        $('#strat').on('click', function (){
            $(this).css('box-shadow','6px 6px 0 #94C8EE, -6px -6px 0 #94C8EE');
            $('#tact, #philo, #ope').css('box-shadow','6px 6px 0 #FFD433')
            $('#cardtact').fadeOut('fast');
            $('#cardope').fadeOut('fast');
            $('#cardphilo').fadeOut('fast');
            setTimeout(function (){
                $('#cardstrat').fadeIn('fast');
            },200)
        })
    })
</script>
<script>
    let scene = new THREE.Scene();

    let camera = new THREE.PerspectiveCamera(
        75,
        1,
        0.1,
        1000
    );

    let renderer = new THREE.WebGLRenderer({
        canvas: document.getElementById("canvas")
    });

    renderer.setClearColor(0x000000, 1);

    let opaqueGeo = new THREE.SphereGeometry(5, 24, 24);

    let opaqueMat = new THREE.MeshBasicMaterial({
        color: 0x000000,
        polygonOffset: true,
        polygonOffsetFactor: 1,
        polygonOffsetUnits: 1
    });

    let opaqueSphere = new THREE.Mesh(opaqueGeo, opaqueMat);

    scene.add(opaqueSphere);

    var wireframeGeo = new THREE.EdgesGeometry(opaqueSphere.geometry);

    var wireframeMat = new THREE.LineBasicMaterial({
        color: 0x94C8EE,
        linewidth: 1
    });

    var wireframeSphere = new THREE.LineSegments(wireframeGeo, wireframeMat);

    opaqueSphere.add(wireframeSphere);

    camera.position.z = 8.5;

    function animate(t) {
        requestAnimationFrame(animate);

        opaqueSphere.rotation.y += 0.01;

        renderer.render(scene, camera);
    }

    animate();
</script>
<script>
    const swiper = new Swiper('.swiper-container', {
        autoplay: {
            delay: 5000,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
        },
        speed:400,
        spaceBetween: 0,
        slidesPerView: 1,
        loopedSlides: 3,
        // Optional parameters
        direction: 'horizontal',
        effect:'slide',
        loop: true,
        loopPreventsSlide : false,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable : true,
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            slideChangeTransitionEnd: function () {
                    $('.slidertitre').addClass('glitch');
                    setTimeout(function (){
                        $('.slidertitre').removeClass('glitch');
                    },1000);

            },
        },
    });

</script>

<script>
    const swiper2 = new Swiper('.swiper-container2', {
        autoplay: {
            delay: 5000,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
        },
        coverflowEffect: {
            slideShadows: false,
            rotate: 30,
        },
        navigation: {
            nextEl: '.swiper-button-next2',
            prevEl: '.swiper-button-prev2',
        },
        noSwiping: true,
        allowTouchMove:false,
        speed:400,
        spaceBetween: -50,
        slidesPerView: 3,
        centeredSlides:true,
        // Optional parameters
        direction: 'horizontal',
        effect:'coverflow',
        loop: true,
        on: {
            slideChangeTransitionStart: function () {
                $('#savoir-faire .swiper-slide-active, #savoir-faire .swiper-slide-duplicate-active').find('.invisible-text').slideDown(200);
                $('#savoir-faire .swiper-slide-active, #savoir-faire .swiper-slide-duplicate-active').css('opacity', '1');
                $('#savoir-faire .swiper-slide-next, #savoir-faire .swiper-slide-duplicate-next').find('.invisible-text').slideUp(300);
                $('#savoir-faire .swiper-slide-prev, #savoir-faire .swiper-slide-duplicate-prev').find('.invisible-text').slideUp(300);
                $('#savoir-faire .swiper-slide-next, #savoir-faire .swiper-slide-duplicate-next').css('opacity', '0.6');
                $('#savoir-faire .swiper-slide-prev, #savoir-faire .swiper-slide-duplicate-prev').css('opacity', '0.6');
                $('#savoir-faire .swiper-slide').not('.swiper-slide-prev, .swiper-slide-next, .swiper-slide-active, .swiper-slide-duplicate-next, .swiper-slide-duplicate-prev, .swiper-slide-duplicate-active').css('opacity', '0');
            },
        },
    });
</script>
<script>
    const swiper3 = new Swiper('.swiper-container3', {
        autoplay: {
            delay: 3000,
        },
        keyboard: {
            enabled: false,
        },
        speed:400,
        spaceBetween: 160,
        loopedSlides: 4,
        slidesPerView: 4,
        // Optional parameters
        direction: 'horizontal',
        effect:'slide',
        loop: true,

    });

</script>
<script>

    $(document).ready(function() {
        $('#solutions').parallax("50%", 0.1);
        $('#savoir-faire').parallax("50%", 0.1);
        $('#contact').parallax("50%", 0.1);
        $('.premierepresentation').parallax("50%", 0.1);
    })

</script>
</body>
</html>