<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Interaxys - Cabinet de consulting</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/components/effect-coverflow/effect-coverflow.min.css" />
    <link rel="stylesheet" href="{{ asset('css/glitch.css') }}">
    <meta name="description" content="Bienvenue sur le site web d'interaxys">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
<header>
    <div class="flex-key">
        <p></p><p>Performance Globale</p> <p>Excellence Compétitive</p> <p>Transformation Continue</p> <p>Virtuosité Collective</p>
    </div>
</header>
<nav>
    <ul>
        <li><a class="logo-nav-link"><img class="logo-nav" src="{{ asset('img/interaxys.png') }}" alt="logo"></a></li>
        <li><a id="presentationlink" href="#presentation"><p>vision</p></a></li>
        <li><a id="solutionslink" href="#solutions"><p>approche</p></a></li>
        <li><a id="savoir-fairelink" href="#savoir-faire"><p>offre</p></a></li>
        <li><a id="contactlink" href="#contact"><p>contact</p></a></li>
    </ul>
</nav>
<section id="headerbg">
    <div class="sliderdiv">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div id="synergieslide" class="sliderslide">
                        <div class="centerslider">
                            <h1 class="slidertitre" data-glitch="SYNERGIE">SYNERGIE</h1>
                            <p class="sliderundertitle">« Un système d'information interactionnel pour piloter l'activité et synchroniser les décisions » </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="interactionslide" class="sliderslide">
                        <div class="centerslider">
                            <h1 class="slidertitre" data-glitch="INTERACTION">INTERACTION</h1>
                            <p class="sliderundertitle">« Un système d'information interactionnel pour piloter l'activité et synchroniser les décisions » </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="syntheseslide" class="sliderslide">
                        <div class="centerslider">
                            <h1 class="slidertitre" data-glitch="synthèse">SYNTHèSE</h1>
                            <p class="sliderundertitle">« Un système d'information interactionnel pour piloter l'activité et synchroniser les décisions » </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <!--<a class="linkdown" href="#presentation">
        <div class="scrollicon">
            <img id="scrollb" src="{{ asset('img/scroll_blanc.png') }}" alt="scroll_blanc">
            <img id="scrollj" src="{{ asset('img/scroll_jaune.png') }}" alt="scroll_jaune">
        </div>
    </a> -->
</section>

<section id="presentation">
    <article>
        <div class="premierepresentation">
            <div class="sectionlimit">
                <h2>Notre vision</h2>
                <div class="doubleflex">
                    <div class="textpresentation">
                        {{ vision.paragraphe1|raw }}
                    </div>
                    <img id="imgtourne" src="{{ asset('img/formegeo1.svg') }}" alt="forme geométrique 1">
                </div>
                <div class="pflex">
                    {{ vision.paragraphe2|raw }}
                </div>

                </div>
        </div>

        <div class="bgcitation">
            <strong id="citation1">« Le modèle de la réduction des coûts</strong>
            <strong id="citation2"> nous envoie droit dans le mur ! »</strong>
            <strong id="nommage">José Gramdi</strong>
        </div>


        <div class="presentation-video">
            <iframe width="907" height="510" src="{{ vision.lienvideo }}"
                    title="YouTube video player" frameborder="0" allow="accelerometer;
                     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </article>
</section>
<section id="solutions">
    <div class="sectionlimit">
        <h2>Notre approche</h2>
        <div class="flex-solution">
            <div class="flexcolumncat">
                <div id="philo"><p>Éthique</p></div>
                <div id="strat"><p>Stratégique</p></div>
                <div id="tact"><p>Tactique</p></div>
                <div id="ope"><p>Opérationnel</p></div>
            </div>
            <div class="safecard">
            <div class="cardsol" id="cardphilo">
                <article>
                    <h3>Engagement</h3>
                    <p>À ce premier niveau essentiel, mais pourtant le plus souvent oublié, il s’agit de se questionner sur la raison d’être de l’entreprise et de
                        formaliser une vision, une raison d’être et un projet global en considérant son impact sur l’environnement et la société, et ce à un horizon infini.
                        Cet impact, ce niveau de responsabilité sociétale et environnementale doit bien évidemment être évaluer et il convient donc d’identifier les signaux
                        qui seront collectés et agrégés afin de suivre son évolution. C’est cette vision, mais surtout sa concrétisation dans un indicateur suivi et partagé
                        au même titre que les autres dimensions plus traditionnelles de la performance, qui permettra de donner du sens à l’action de chacun et qui favorisera
                        l’engagement de tous dans un projet collectif. </p>
                    <h4>Performance Globale</h4>
                    <ul>
                        <li><h5>Horizon</h5><h6>Éternité</h6></li>
                        <li><h5>Objet</h5><h6>Planète</h6></li>
                        <li><h5>Finalité</h5><h6>Sens</h6></li>
                        <li><h5>Résultat</h5><h6>Éternité</h6></li>
                    </ul>
                </article>
            </div>

           <div  class="cardsol" id="cardstrat">
                <article>
                    <h3>Alignement</h3>
                    <p>Il s’agit à ce niveau de basculer d’une approche en silo dans laquelle chaque acteur de l’organisation
                        est objectivé sur sa performance individuelle, le plus souvent son efficience, vers une approche systémique
                        interactionnelle focalisée sur la finalité de l’entreprise. Ici chacun doit prendre conscience de sa
                        contribution quotidienne à la proposition de valeur globale de l’entreprise et pouvoir participer à son
                        amélioration. L’obsession de la satisfaction client devient primordiale et passe devant l’obsession des résultats
                        individuels. Cette satisfaction client doit ainsi être mesurée et monitorée afin de suivre l’amélioration
                        de ce résultat collectif, de célébrer les succès et d’entretenir une dynamique enthousiasmante de transformation
                        et de progrès.</p>
                    <h4>Excellence Compétitive</h4>
                    <ul>
                        <li><h5>Horizon</h5><h6>Long terme</h6></li>
                        <li><h5>Objet</h5><h6>Marché</h6></li>
                        <li><h5>Finalité</h5><h6>Pérennité</h6></li>
                        <li><h5>Résultat</h5><h6>Perfection</h6></li>
                    </ul>
                </article>

            </div>

            <div  class="cardsol" id="cardtact">
                <article>
                    <h3>Coordination</h3>
                    <p>A ce niveau, le mouvement de transformation continue est abordé globalement. Il ne s’agit plus pour
                        chaque chef de service de défendre son projet au détriment des autres mais plutôt de faire émerger
                        collectivement les projets qui vont permettre d’améliorer significativement la proposition de valeur
                        globale dans le respect de la vision et de la raison d’être de l’entreprise. Le principe est de faire
                        émerger les différentes opportunités de transformation (investissement matériel ou logiciel, recrutement
                        de nouvelle compétence, chantier d’amélioration continue) et d’évaluer l’impact de ces transformations
                        sur la valeur ressentie par le client et sur performance globale. Cette évaluation est principalement
                        qualitative et réalisée de façon collégiale</p>
                    <h4>Transformation Continue</h4>
                    <ul>
                        <li><h5>Horizon</h5><h6>Moyen terme</h6></li>
                        <li><h5>Objet</h5><h6>Organisation</h6></li>
                        <li><h5>Finalité</h5><h6>Santé</h6></li>
                        <li><h5>Résultat</h5><h6>Agilité</h6></li>
                    </ul>
                </article>

            </div>

            <div class="cardsol" id="cardope">
                <article>
                    <h3>Synchronisation</h3>
                    <p>A ce dernier niveau opérationnel, chaque collaborateur inscrit ses décisions et actions
                        dans un mouvement collectif visant un objectif commun, un peu comme un musicien dans son
                        orchestre. Pour cela chacun doit avoir de la visibilité sur le contexte global instantané afin
                        de prendre localement les décisions optimales globalement, en abandonnant donc le plus souvent
                        ses résultats individuels. Dans cette dynamique temps-réel, l’importance du système d’information
                        est crucial, celui-ci doit donc être abordé avec la volonté de mettre à disposition de chacun des
                        informations robustes et fiables pour lui permettre de prendre la meilleure décision qu’il soit.
                        Au niveau tactique, les projets de digitalisation allant dans ce sens seront donc à privilégier</p>
                    <h4>Virtuosité Collective</h4>
                    <ul>
                        <li><h5>Horizon</h5><h6>Court terme</h6></li>
                        <li><h5>Objet</h5><h6>Produit</h6></li>
                        <li><h5>Finalité</h5><h6>Survie</h6></li>
                        <li><h5>Résultat</h5><h6>Efficience</h6></li>
                    </ul>
                </article>
            </div>
            </div>
    </div>
    </div>
</section>

<div class="ban-etoile">
    <canvas id="canvas" height="350" width="350"></canvas>
    <div>
        <strong class="titreinteraxys">INTERAXYS</strong> <br> <br>
        <strong>Nouvelles perspectives industrielles</strong>
    </div>
</div>

<section id="savoir-faire">
    <div class="sectionlimit">
      <h2>notre offre</h2>
        <div class="alignswipecenter">
            <!-- Slider main container -->
            <div class="swiper-container2">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide flexswipe">
                        <div>
                            <div class="relative-logo">
                                <img class="logoslide" src="{{ asset('img/orientation.png') }}" alt="picto orientation">
                                <h3>Orientation des modèles d'affaire</h3>
                            </div>
                            <div class="invisible-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                <button id="buttonorient">Plus d'infos</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide flexswipe">
                        <div>
                            <div class="relative-logo">
                                <img class="logoslide" src="{{ asset('img/gestion.png') }}" alt="picto orientation">
                                <h3>Gestion de la performance</h3>
                            </div>
                            <div class="invisible-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                <button id="buttongestion">Plus d'infos</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide flexswipe">
                        <div>
                            <div class="relative-logo">
                                <img class="logoslide" src="{{ asset('img/manage.png') }}" alt="picto orientation">
                                <h3>Management des opérations</h3>
                            </div>
                            <div class="invisible-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                <button id="buttonmanage">Plus d'infos</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide flexswipe">
                        <div>
                            <div class="relative-logo">
                                <img class="logoslide" src="{{ asset('img/pilotage.png') }}" alt="picto orientation">
                                <h3>Pilotage de l'activité</h3>
                            </div>
                            <div class="invisible-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque dolor ducimus illum, molestias necessitatibus nisi perspiciatis possimus quas quibusdam quisquam reiciendis rerum sed totam velit veniam! Perferendis, quis.</p>
                                <button id="buttonpilote">Plus d'infos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="clients">
    <h2>NOS CLIENTS</h2>
    <div class="flexclient">
        <div class="sectionlimit">
        <!-- Slider main container -->
        <div class="swiper-container3">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="{{ asset('img/logo-seb.jpg') }}" alt="LOGO1"></div>
                <div class="swiper-slide"><img src="{{ asset('img/banquefrance.jpg') }}" alt="LOGO2"></div>
                <div class="swiper-slide"><img src="{{ asset('img/Alcatel.png') }}" alt="LOGO3"></div>
                <div class="swiper-slide"><img src="{{ asset('img/logoacome.jpg') }}" alt="LOGO4"></div>
                <div class="swiper-slide"><img src="{{ asset('img/bel.png') }}" alt="LOGO5"></div>
                <div class="swiper-slide"><img src="{{ asset('img/cma.png') }}" alt="LOGO6"></div>
                <div class="swiper-slide"><img src="{{ asset('img/ert.png') }}" alt="LOGO7"></div>
                <div class="swiper-slide"><img src="{{ asset('img/hutchinson.png') }}" alt="LOGO8"></div>
                <div class="swiper-slide"><img src="{{ asset('img/iconics.png') }}" alt="LOGO9"></div>
                <div class="swiper-slide"><img src="{{ asset('img/petitjean.png') }}" alt="LOGO10"></div>
                <div class="swiper-slide"><img src="{{ asset('img/sedis.png') }}" alt="LOGO11"></div>
                <div class="swiper-slide"><img src="{{ asset('img/sew.png') }}" alt="LOGO12"></div>
                <div class="swiper-slide"><img src="{{ asset('img/diagoris.jpg') }}" alt="LOGO13"></div>
                <div class="swiper-slide"><img src="{{ asset('img/UPMC.png') }}" alt="LOGO14"></div>
            </div>
        </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="sectionlimit">
        <h2>NOUS CONTACTER</h2>
        <div class="formulaire">
            <form action="" method="post">
                <div class="flexline">
                    <div class="firstflexform">
                        <div class="geometrieconteneur">
                            <input type="text" nom="nom" placeholder="NOM">
                        </div>
                        <div class="geometrieconteneur">
                            <input id="email" type="text" name="prenom" placeholder="PRENOM">
                        </div>
                    </div>
                    <div class="secondflexform">
                        <div class="geometrieconteneur">
                            <input type="text" name="prenom" placeholder="EMAIL">
                        </div>
                        <div class="geometrieconteneur">
                            <input type="text" name="tel" placeholder="TEL">
                        </div>
                    </div>
                </div>
                <div class="geometrieconteneur geometrieconteneurobjet">
                    <input type="text" name="objet" placeholder="OBJET">
                </div>

                <div class="geometrieconteneur geometrieconteneurarea">
                    <textarea style="resize: none" name="" id="" cols="30" rows="10" placeholder="Votre message..."></textarea>
                </div>
                <div class="btn-right">
                        <input type="submit" value="VALIDER">
                </div>
            </form>
        </div>
    </div>

</section>
<footer>
    <section id="footer">
        <div class="tel"><img src="{{ asset('img/call.svg') }}" alt="Tel picto"><p>+ 33 680 230 239</p></div>
        <div class="mail"><img src="{{ asset('img/email.svg') }}" alt="Mail picto"><p>contact@interaxys.fr</p></div>
        <div class="reseaux-sociaux">
            <a href="https://www.facebook.com/"><img id="facebook" src="{{ asset('img/001-facebook.svg') }}" alt="logo facebook"></a>
            <a href="https://www.linkedin.com"><img id="linkedin" src="{{ asset('img/010-linkedin.svg') }}" alt="logo linkedin"></a>
            <a href="https://www.twitter.com"><img id="twitter" src="{{ asset('img/013-twitter.svg') }}" alt="logo twitter"></a></div>
        <a class="mentions-legales" href=""><p >Mentions Légales</p></a>
        <p class="copyright">© Interaxys 2021</p>
    </section>
</footer>

<script>
    $(document).ready(function (){
        $('.cardsol').hide();
        $('#cardphilo').show();

        //SCROLL TO

        $('nav a, .linkdown').click(function(){
            $('html, body').animate({
                scrollTop: $( $(this).attr('href') ).offset().top - 20
            }, 500);
            return false;
        });

        //HOVER FOOTER

        $("#facebook").mouseover(function() {
            $(this).attr('src','{{ asset('img/001-facebook-hover.svg') }}')
        }).mouseout(function (){
            $(this).attr('src','{{ asset('img/001-facebook.svg') }}')
        });

        $("#linkedin").mouseover(function() {
            $(this).attr('src','{{ asset('img/010-linkedin-hover.svg') }}')
        }).mouseout(function (){
            $(this).attr('src','{{ asset('img/010-linkedin.svg') }}')
        });

        $("#twitter").mouseover(function() {
            $(this).attr('src','{{ asset('img/013-twitter-hover.svg') }}')
        }).mouseout(function (){
            $(this).attr('src','{{ asset('img/013-twitter.svg') }}')
        });

        // NAVBAR

        var positionscroll = $(document).scrollTop();
        var limitnav = 40;

        if( positionscroll > 40){
            if (positionscroll < 650){
                $('nav a').css('border-bottom','0');
                $('nav a p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
            }
            if ( positionscroll > 650 && positionscroll < 2400 ){
                $('#presentationlink').css('border-bottom','#94C8EE solid 5px');
                $('#presentationlink p').css('margin-bottom','-5px').css('color','#94C8EE').css('font-size','20px');
                $('nav a').not('#presentationlink').css('border-bottom','#94C8EE solid 0');
                $('nav p').not('#presentationlink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
            }
            if ( positionscroll > 2400 && positionscroll < 3500  ){
                $('#solutionslink').css('border-bottom','#94C8EE solid 5px');
                $('#solutionslink p').css('margin-bottom','-5px').css('color','#94C8EE').css('font-size','20px');
                $('nav a').not('#solutionslink').css('border-bottom','#94C8EE solid 0');
                $('nav p').not('#solutionslink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
            }
            if ( positionscroll > 3500 && positionscroll < 4400  ){
                $('#savoir-fairelink').css('border-bottom','#94C8EE solid 5px');
                $('#savoir-fairelink p').css('margin-bottom','-5px').css('color','#94C8EE').css('font-size','20px');
                $('nav a').not('#savoir-fairelink').css('border-bottom','#94C8EE solid 0');
                $('nav p').not('#savoir-fairelink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
            }
            if ( positionscroll > 4400){
                $('#contactlink').css('border-bottom','#94C8EE solid 5px');
                $('#contactlink p').css('margin-bottom','-5px').css('color','#94C8EE').css('font-size','20px');
                $('nav a').not('#contactlink').css('border-bottom','#94C8EE solid 0');
                $('nav p').not('#contactlink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
            }
            $(".logo-nav").css('transform','scale(1) translate(-14%)');
            $("nav a").mouseover(function() {
                $(this).css("color","#94C8EE")
                $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 5px')
            }).mouseout(function (){
                $(this).css("color","#E6E6E6")
                $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 0px')
            });
        }else{
            $(".logo-nav").css('transform','scale(1.65) translate(-14%,-25%)');
            $("nav a").mouseover(function() {
                $(this).css("color","#94C8EE")
                $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 5px')
                $(this).find('p').css('margin-bottom','-5px');
            }).mouseout(function (){
                $(this).css("color","#E6E6E6")
                $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 0px')
                $(this).find('p').css('margin-bottom','0px');
            });
        }

        var i = 0;
        var rotation = 0;
        var oldpositionscroll = 0;
        var positionscroll = $(document).scrollTop();
        var upscroll = 1;
        setInterval(function (){
            oldpositionscroll = positionscroll;
            positionscroll = $(document).scrollTop();
            if (oldpositionscroll > positionscroll){
                if (upscroll == 1){
                    upscroll = 1;
                }else {
                    upscroll = 1;
                    i = 0 ;
                }
            }else if(oldpositionscroll < positionscroll){
                if (upscroll == 0){
                    upscroll = 0;
                    i += 0.5;
                }else {
                    upscroll = 0;
                    i = 0;
                    i += 0.5;
                }
                rotation = positionscroll + i;
            }
            if (upscroll == 1){
                i+= 0.5;
                rotation = positionscroll - i;
            }else{
                i += 0.5;
                rotation = positionscroll + i;
            }
            console.log(upscroll)
            $('#imgtourne').css('transform','rotate('+ rotation +'deg)');
        }, 20)

        // ANIMATION BOULE

        $(document).scroll(function (){
            var positionscroll = $(document).scrollTop();
            console.log(positionscroll);
            var limitnav = 40;

            if( positionscroll > 40){
                if (positionscroll < 650){
                    $('nav a').css('border-bottom','0');
                    $('nav a p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
                }
                if ( positionscroll > 650 && positionscroll < 2400 ){
                    $('#presentationlink').css('border-bottom','#94C8EE solid 5px');
                    $('#presentationlink p').css('color','#94C8EE').css('font-size','20px');
                    $('nav a').not('#presentationlink').css('border-bottom','#94C8EE solid 0');
                    $('nav p').not('#presentationlink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
                }
                if ( positionscroll > 2400 && positionscroll < 3500  ){
                    $('#solutionslink').css('border-bottom','#94C8EE solid 5px');
                    $('#solutionslink p').css('color','#94C8EE').css('font-size','20px');
                    $('nav a').not('#solutionslink').css('border-bottom','#94C8EE solid 0');
                    $('nav p').not('#solutionslink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
                }
                if ( positionscroll > 3500 && positionscroll < 4400  ){
                    $('#savoir-fairelink').css('border-bottom','#94C8EE solid 5px');
                    $('#savoir-fairelink p').css('color','#94C8EE').css('font-size','20px');
                    $('nav a').not('#savoir-fairelink').css('border-bottom','#94C8EE solid 0');
                    $('nav p').not('#savoir-fairelink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
                }
                if ( positionscroll > 4400){
                    $('#contactlink').css('border-bottom','#94C8EE solid 5px');
                    $('#contactlink p').css('color','#94C8EE').css('font-size','20px');
                    $('nav a').not('#contactlink').css('border-bottom','#94C8EE solid 0');
                    $('nav p').not('#contactlink p').css('margin-bottom','0').css('color','#E6E6E6').css('font-size','18px');
                }
                $(".logo-nav").css('transform','scale(1) translate(-14%)');
                $("nav a").mouseover(function() {
                    $(this).css("color","#94C8EE")
                    $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 5px')
                    $(this).find('p').css('margin-bottom','-5px');
                }).mouseout(function (){
                    $(this).css("color","#E6E6E6")
                    $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 0px')
                    $(this).find('p').css('margin-bottom','0px');
                });
            }else{
                $(".logo-nav").css('transform','scale(1.65) translate(-14%,-25%)');
                $("nav a").mouseover(function() {
                    $(this).css("color","#94C8EE")
                    $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 5px')
                    $(this).find('p').css('margin-bottom','-5px');
                }).mouseout(function (){
                    $(this).css("color","#E6E6E6")
                    $(this).not('.logo-nav-link').css('border-bottom','#94C8EE solid 0px')
                    $(this).find('p').css('margin-bottom','0px');
                });
            }
        })

        $('#philo').on('click', function (){
            $('#philo').css('background-color','#E6E6E6').css('color','#1e1e1e');
            $('.flexcolumncat div').not('#philo').css('background-color','#1e1e1e').css('color','#E6E6E6');
            $('#cardtact').fadeOut('fast');
            $('#cardope').fadeOut('fast');
            $('#cardstrat').fadeOut('fast');
            setTimeout(function (){
                $('#cardphilo').fadeIn('fast');
            },200)
        })

        $('#tact').on('click', function (){
            $('#tact').css('background-color','#E6E6E6').css('color','#1e1e1e');
            $('.flexcolumncat div').not('#tact').css('background-color','#1e1e1e').css('color','#E6E6E6');
            $('#cardphilo').fadeOut('fast');
            $('#cardope').fadeOut('fast');
            $('#cardstrat').fadeOut('fast');
            setTimeout(function (){
                $('#cardtact').fadeIn('fast');
            },200)
        })

        $('#ope').on('click', function (){
            $('#ope').css('background-color','#E6E6E6').css('color','#1e1e1e');
            $('.flexcolumncat div').not('#ope').css('background-color','#1e1e1e').css('color','#E6E6E6');
            $('#cardtact').fadeOut('fast');
            $('#cardphilo').fadeOut('fast');
            $('#cardstrat').fadeOut('fast');
            setTimeout(function (){
                $('#cardope').fadeIn('fast');
            },200)
        })

        $('#strat').on('click', function (){
            $('#strat').css('background-color','#E6E6E6').css('color','#1e1e1e');
            $('.flexcolumncat div').not('#strat').css('background-color','#1e1e1e').css('color','#E6E6E6');
            $('#cardtact').fadeOut('fast');
            $('#cardope').fadeOut('fast');
            $('#cardphilo').fadeOut('fast');
            setTimeout(function (){
                $('#cardstrat').fadeIn('fast');
            },200)
        })
    })
</script>
<script>
    let scene = new THREE.Scene();

    let camera = new THREE.PerspectiveCamera(
        75,
        1,
        0.1,
        1000
    );

    let renderer = new THREE.WebGLRenderer({
        canvas: document.getElementById("canvas")
    });

    renderer.setClearColor(0x1e1e1e, 1);

    let opaqueGeo = new THREE.SphereGeometry(5, 24, 24);

    let opaqueMat = new THREE.MeshBasicMaterial({
        color: 0x1e1e1e,
        polygonOffset: true,
        polygonOffsetFactor: 1,
        polygonOffsetUnits: 1
    });

    let opaqueSphere = new THREE.Mesh(opaqueGeo, opaqueMat);

    scene.add(opaqueSphere);

    var wireframeGeo = new THREE.EdgesGeometry(opaqueSphere.geometry);

    var wireframeMat = new THREE.LineBasicMaterial({
        color: 0x94C8EE,
        linewidth: 1
    });

    var wireframeSphere = new THREE.LineSegments(wireframeGeo, wireframeMat);

    opaqueSphere.add(wireframeSphere);

    camera.position.z = 8.5;

    function animate(t) {
        requestAnimationFrame(animate);

        opaqueSphere.rotation.y += 0.01;

        renderer.render(scene, camera);
    }

    animate();
</script>
<script>
    const swiper = new Swiper('.swiper-container', {
        autoplay: {
            delay: 5000,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
        },
        speed:400,
        spaceBetween: 0,
        slidesPerView: 1,
        loopedSlides: 3,
        // Optional parameters
        direction: 'horizontal',
        effect:'slide',
        loop: true,
        loopPreventsSlide : false,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable : true,
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            slideChangeTransitionEnd: function () {
                    $('.slidertitre').addClass('glitch');
                    setTimeout(function (){
                        $('.slidertitre').removeClass('glitch');
                    },1000);

            },
        },
    });

</script>

<script>
    const swiper2 = new Swiper('.swiper-container2', {
        autoplay: {
            delay: 5000,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
        },
        coverflowEffect: {
            slideShadows: false,
            //rotate: 30,
            //depth : 200,
            //stretch :300,
        },
        noSwiping: true,
        allowTouchMove:false,
        speed:400,
        spaceBetween: -100,
        slidesPerView: 'auto',
        centeredSlides:true,
        // Optional parameters
        direction: 'horizontal',
        effect:'coverflow',
        on: {
            slideChangeTransitionStart: function () {
                $('#savoir-faire .swiper-slide-active, #savoir-faire .swiper-slide-duplicate-active').find('.logoslide').css('margin','20px auto 20px auto');
                $('#savoir-faire .swiper-slide-active, #savoir-faire .swiper-slide-duplicate-active').find('.invisible-text').slideDown(500);
                $('#savoir-faire .swiper-slide-next, #savoir-faire .swiper-slide-duplicate-next').find('.invisible-text').slideUp(400);
                $('#savoir-faire .swiper-slide-prev, #savoir-faire .swiper-slide-duplicate-prev').find('.invisible-text').slideUp(400);
                $('#savoir-faire .swiper-slide-next, #savoir-faire .swiper-slide-duplicate-next').find('.logoslide').css('margin','140px auto 20px auto');
                $('#savoir-faire .swiper-slide-prev, #savoir-faire .swiper-slide-duplicate-prev').find('.logoslide').css('margin','140px auto 20px auto');
            },
        },
    });
</script>
<script>
    const swiper3 = new Swiper('.swiper-container3', {
        autoplay: {
            delay: 3000,
        },
        keyboard: {
            enabled: false,
        },
        speed:400,
        spaceBetween: 160,
        loopedSlides: 4,
        slidesPerView: 4,
        // Optional parameters
        direction: 'horizontal',
        effect:'slide',
        loop: true,

    });

</script>
<script>

    $(document).ready(function() {
        $('#solutions').parallax("50%", 0.1);
        $('#savoir-faire').parallax("50%", 0.1);
        $('#contact').parallax("50%", 0.1);
        $('.premierepresentation').parallax("50%", 0.1);
    })

</script>
</body>
</html>